@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  font-family:
    ui-sans-serif, system-ui, -apple-system, "Apple SD Gothic Neo",
    "Malgun Gothic", sans-serif;
  background: #f7f7f5;
  color: #37352f;
}
